* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo {
    width: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: rgba(4, 158, 34, 0.5) 0px 4px 12px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}
.nav-items ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav-items ul li {
    font-size: 20px;
    padding: 28px;
    cursor: pointer;
}
.nav-items ul li:hover {
    color: #630a0c;
    text-decoration: underline;
}

.nav-items ul .login-logout-btn {
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #f7b922;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.nav-items ul .login-logout-btn:hover {
    cursor: pointer;
    background-color: #4a9e22;
    color: #fff;
}

.res-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 50px;
    column-gap: 50px;
}

.res-card {
    width: 300px;
    /* height: 410px; */
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fef9ee;
}
.res-card:hover {
    /* border: 1px solid #000; */
    box-shadow: rgba(4, 158, 34, 0.5) 0px 4px 12px;
    cursor: pointer;
}

.filter {
    width: 90%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #e91111; */
}

.search {
    display: flex;
    column-gap: 22px;
}
.search-box {
    padding: 7px 15px;
    border: 2px solid #630a0c;
    font-size: 16px;
    border-radius: 5px;
    color: #4a9e22;
}
.search-btn,
.top-rated-btn {
    padding: 7px 15px;
    background-color: #fff;
    border: 2px solid #630a0c;
    border-radius: 5px;
    font-size: 18px;
    color: #4a9e22;
}
.search-btn:hover {
    background-color: #4a9e22;
    color: #fff;
    cursor: pointer;
}

.top-rated-btn {
    border: 1px solid #f7b922;
    background-color: #4a9e22;
    color: #fff;
}

.top-rated-btn:hover {
    background-color: #f7b922;
    color: #000;
    cursor: pointer;
    border-color: #4a9e22;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
    margin: 80px;
}

.shimmer-card {
    width: 350px;
    height: 450px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fef9ee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shimmer-card-image {
    width: 100%;
    height: 65%;
    background-color: lightgray;
    margin-bottom: 30px;
}

.shimmer-card-details {
    width: 100%;
    height: 20px;
    background-color: lightgray;
    margin-bottom: 18px;
}
